{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block content %}
    <div class="flex-1">
        <section class="flex justify-between items-start flex-wrap x-small:flex-nowrap">
            <img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt=""
                 class='lg:max-h-2xl md:max-w-xl md:max-h-auto block my-auto'>
            <div class="right-side max-w-4xl small:max-w-lg mx-auto md:mx-0">
                <h1 class='text-blue text-xl font-bold mb-8 text-center small:text-left'>{{ product.title }}</h1>
                <p class="mb-8 text-center small:text-left">{{ product.description }}</p>
                <p class='text-4xl font-bold text-blue'>{{ product.price }} Р</p>
                <p class="mb-5">за штуку с учетом НДС.</p>
                {% if product.available > 0 %}
                <div class="flex items-center mb-8">
                    <img src="{% static 'img/check-mark.svg' %}" alt="В наличии" class="mr-2 w-4">
                    <p class='text-success text-xs'>В наличии ({{ product.available }})</p>
                </div>
                {% else %}
                <div class="flex items-center mb-8">
                    <img src="{% static 'img/cross.svg' %}" alt="Отсутствует" class="mr-2 w-4">
                    <p class='text-alert text-xs'>Нет в наличии</p>
                </div>
                {% endif %}
                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="В корзину" class="bg-blue text-white px-16 py-4 block text-center mt-4 cursor-pointer">
                </form>
            </div>
        </section>
    </div>
{% endblock %}